.slick-slide:not(.slick-active) {
  transition: 0.25s;
}
.slick-slide.slick-active:not(.slick-current) {
  transition: 0.25s;
}

.slick-slide.slick-active.slick-current {
  z-index: 999;
  transform: scale(1.25);
  transition: 0.25s;
}
